<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 32 32"
    width="25"
    height="25"
  >
    <title>pause--filled</title>
    <path
      d="M12,6H10A2,2,0,0,0,8,8V24a2,2,0,0,0,2,2h2a2,2,0,0,0,2-2V8a2,2,0,0,0-2-2Z"
    />
    <path
      d="M22,6H20a2,2,0,0,0-2,2V24a2,2,0,0,0,2,2h2a2,2,0,0,0,2-2V8a2,2,0,0,0-2-2Z"
    />
    <rect
      width="32"
      height="32"
      fill="none"
      data-name="&lt;Transparent Rectangle>"
    />
  </svg>
</template>
